<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home-page.component.css" >

</head>


<body>
    
   

   <img src="https://th.bing.com/th/id/OIP.x5DuWCKpvFGoT3IrJcayxAHaHa?w=204&h=203&c=7&r=0&o=5&pid=1.7" alt="book image"
    class="myimage">



    
      
        <a href="" routerLink="/signup"style="margin-left: 200px;"><b>Sign Up</b></a>
        <a href="" routerLink="/signin" style="margin-left: 50px;"><b>Sign In</b> </a>

        <br>
        <!-- <a href="" routerLink="/getbooks"> BookList</a>
        <a href="" routerLink="/search"> SearchBook</a>
        <a routerLink="/create" href="">Create</a> -->
    
     
    </body>

</html>

<!-- <div class="container">
    <img src="https://cdn.dribbble.com/users/3032358/screenshots/11287340/38a_4x.jpg" alt="network issue"
        width=300px style="margin-left: 100px;">

    </div> -->
